:root {
  --fg: black;
  --fg-2: #474747;
  --bg: white;
  --accent: green;
  --border: var(--accent);
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  margin: 0;

  gap: .2em;
  background: var(--border);
}

body > main {
  grid-column-start: 2;
  grid-row: 2 / 3;

  padding: 4em;
  
  overflow-y: scroll;
}

body > nav {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

body > section.meta {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: var(--fg-2);
}

body > * {
  background: var(--bg);
}


body > main, body > section.meta {
  white-space: pre;
  text-wrap: wrap;
  font-family: monospace;
}



