<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" lang="text/css" href="/bulma.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="section">
      <div class="columns container">
        <nav class="column">

        </nav>
        <div class="column is-four-fifths">
          <h1 class="title"><span class="icon-text">{{& lucide.apple}} <span>{{title}}</span></span></h1>
          <div id="content" class="content">
            {{& content}}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

