<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{& theme.head}}
    {{& component.head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>a[href^="https://"]::after {
        content: " [*]";
      }
      .navbar-menu {
        box-shadow: none;
      }
      strong code {
        font-weight: 700;
        letter-spacing: 0;
        animation: widen 2s infinite alternate ease-in-out;
      }
      @keyframes widen {
        from {
          letter-spacing: 0;
        }
        to {
          letter-spacing: 0.3em;
        }
      }
      p > code { text-wrap: nowrap; }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="navbar mb-4" role="navigation">
          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <a href="{{site_root}}/" class="navbar-item">Home</a>
            </div>
            <div class="navbar-end">
              <a href="{{site_root}}/docs" class="navbar-item">Docs</a>
              <a href="{{site_root}}/changelog" class="navbar-item">Changelog</a>
              <a href="https://github.com/sea-grass/goku" class="navbar-item">Source code</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="container" id="content">
        <h1 class="title">
          <span class="icon-text">{{& lucide.apple}}
            <span>{{title}}</span></span>
        </h1>
        {{& meta }}
        <p class="subtitle">{{ description }}</p>
        <section class="content">
          {{& content}}
        </section>
      </div>
    </section>
    {{& theme.body}}
    {{& component.body}}
  </body>
</html>
