<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" lang="text/css" href="/bulma.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">{{& lucide.apple}} {{title}}</h1>
      </div>
    </section>
    <section class="section">
      <div id="content" class="container content">
        {{& content}}
      </div>
    </section>
  </body>
</html>

